@model efStart3.Models.SchoolViewModels.InstructorIndexData    

@{
    ViewData["Title"] = "Instructors";
}

@{
    var nextPage = (Model.PagedList.HasNextPage) ? (Model.PagedList.PageIndex + 1) : Model.PagedList.PageIndex;
    var prevPage = (Model.PagedList.HasPrevPage) ? (Model.PagedList.PageIndex - 1) : Model.PagedList.PageIndex;
    var nextDisable = (Model.PagedList.HasNextPage) ? "" : "disabled";
    var prevDisable = (Model.PagedList.HasPrevPage) ? "" : "disabled";
}



<form asp-action="Index" method="get" class="form">
    <div class = "form-row">
      <div class="form-group col-md-3">
        <h4>Instructor Index</h4>
      </div>
      <div class="form-group col-md-5">
      </div>
      <div class="form-group col-md-4">         
        <input type="text" placeholder="Search" value="@ViewBag.SearchString" name="searchString"/>
        <input type="submit" value="Search" class="btn btn-primary btn-sm" />
      </div>     
    </div>     
</form>
<p>Page @Model.PagedList.PageIndex of @Model.PagedList.TotalPages</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th>
                Office
            </th>
            <th>
                Course
            </th>
            <th>
                <a asp-action="Create">Create New</a>
            </th>
        </tr>
    </thead>
    <tbody>
        
@foreach (var item in Model.PagedList.Data) {
        var selectedRow = "";      
        if (item.InstructorID == (int?)ViewData["InstructorID"])
        {
            selectedRow = "table-success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @if (item.OfficeAssignment != null)
                {
                    @Html.DisplayFor(modelItem => item.OfficeAssignment.Location);
                }
            </td>
            <td>
                @if (item.CourseAssignments != null)
                {
                    foreach( var courseAssignment in item.CourseAssignments)
                    {   
                        <p> Course Code: @Html.DisplayFor(cID => courseAssignment.Course.CourseID)</p>
                        <p> Course Title: @Html.DisplayFor(cTitle => courseAssignment.Course.Title)</p>
                    }
                }
            </td>
            <td>
                <a asp-action="Index" 
                asp-route-InstructorID="@item.InstructorID" 
                asp-route-searchString = "@ViewBag.SearchString"
                asp-route-pageIndex = "@ViewBag.PageIndex">Select</a> |
                <a asp-action="Edit" asp-route-id="@item.InstructorID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InstructorID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InstructorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<hr><br>

<p>
<a asp-action = "Index"
    asp-route-searchString = "@ViewBag.SearchString"
    asp-route-pageIndex="@prevPage"
    class = "btn btn-success btn-sm @prevDisable"
    >
<< Prev |    
</a>

<a  asp-action = "Index"
    asp-route-searchString = "@ViewBag.SearchString"
    asp-route-pageIndex="@nextPage"
    class = "btn btn-success btn-sm @nextDisable"
    >
| Next >>    
</a>

</p>

@if (Model.Courses != null)
{
    <h5>
        Courses Taught by Instructor : 
        @Html.DisplayFor(instructorID => 
            Model.PagedList.Data.Where(
                i => i.InstructorID.ToString() == 
                ViewData["InstructorID"].ToString()
            ).Single().FullName)
    </h5>
    <br>
    <table class="table table-striped">
        <tr>            
            <th>Number</th>
            <th>Title</th>
            <th>Department</th>
            <th></th>
        </tr>

        @foreach (var item in Model.Courses)
        {
            var selectedRow = "";
            if (item.CourseID == (int?)ViewData["CourseID"])
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">                
                <td>
                    @item.CourseID
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Department.Name
                </td>
                <td>
                    <a  asp-action="Index"
                        asp-route-pageIndex = "@ViewBag.PageIndex" 
                        asp-route-CourseID = "@item.CourseID"
                        asp-route-InstructorID="@ViewData["InstructorID"]" 
                        asp-route-searchString = "@ViewBag.SearchString">
                        Select
                    </a>    
                </td>
            </tr>
        }

    </table>
    <hr><br>
}


@if (Model.Enrollments != null)
{
    <h5>
        Students Enrolled in Course : 
        @Html.DisplayFor(courseID => 
        Model.Enrollments.FirstOrDefault().CourseID)
    </h5>
    <br>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Grade</th>
        </tr>
        @foreach (var item in Model.Enrollments)
        {
            <tr>
                <td>
                    @item.Student.FullName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
            </tr>
        }
    </table>
    <hr><br>
}
